#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
}

#logo {
  width: calc(30% + 1vw);
  height: 100%;
  padding: 10px;
}

#header-img {
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
}

.nav-link:last-child {
  padding-right: 50px;
}

.nav-link:hover {
  color: green;
}
